body         {margin-left: 60px; margin-top: 30px;}
p            {font: 14px Helvetica; width: 400px; padding-top: 10px;}
p.italic     {font: 14px Helvetica; width: 400px; font-style: italic; padding-top: 0px;}
li           {font: 14px Helvetica; width: 400px;}
h1           {font: 24px Helvetica; width: 400px; font-weight: bold;}
h2           {font: 18px Helvetica; width: 400px; font-weight: bold; padding-top: 40px;}
a            {font: 14px Helvetica;}
img          {width: 400px; padding-top: 10px;}
img.banner   {height: 100px;}



/* Luke Smiths blog */
html {
	max-width: 1050px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	color: #333;
	padding-bottom: 200px;
	/*background: linear-gradient(to bottom, lightblue,white,white,pink) no-repeat fixed;*/
	 }

/* a {color: royalblue; } */
a:hover {color: lightblue; }

.entry {
	border-left: 10px solid darkslategray;
	padding: 0px 10px 0px 10px;
	border-radius: 0 30px 30px 0;
	margin-bottom: 20px;
	background-color: #eee;
	}

.entry h2 { margin: 5px auto 2px auto; }

/* h2 { margin: 0px; } */

footer strong { font-weight: bold; }
