html {
	max-width: 1050px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	color: #333;
	padding-bottom: 200px;
	/* background: linear-gradient(to bottom, lightblue,white,white,pink) no-repeat fixed; */
	}

a {color: royalblue; }
a:hover {color: lightblue; }

p.italic {
	font-size: 16px; 
	font-style: italic;
	margin-top: 0px; 
	padding-top: 0px;
	}

.entry {
	border-left: 10px solid darkslategray;
	padding: 0px 10px 0px 10px;
	border-radius: 0 30px 30px 0;
	margin-bottom: 20px;
	background-color: #FAEBD7
	}

.entry h2 { 
	margin: 5px auto 2px auto; 
	padding-top: 10px;
	font-family: 'Cutive Mono', 'Courier New', Courier, monospace;
	}
.entry p  { 
	font-family: 'Cutive Mono', 'Courier New', Courier, monospace;
	font-size: 20px; 
	}
.entry small { 
	font-family:'Courier New', Courier, monospace; 
	}

h1 { margin: 0px; padding: 0px; }
h2 { margin: 0px; }

footer { }
