html {
	max-width: 1050px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	color: #333;
	padding-bottom: 200px;
	/* background: linear-gradient(to bottom, lightblue,white,white,pink) no-repeat fixed; */
	 }

a {color: royalblue; }
a:hover {color: lightblue; }

.entry {
	border-left: 10px solid darkslategray;
	padding: 0px 10px 0px 10px;
	border-radius: 0 30px 30px 0;
	margin-bottom: 20px;
	background-color: #eee;
	}

.entry h2 { margin: 5px auto 2px auto; }
.entry p  { font-family: Courier New; font-size: 14px; }

h1 { margin-top: 20px; }
h2 { margin: 0px; }

img.header { 
	margin-left: 922px; 
	margin-top: 10px;
	}


footer strong { font-weight: bold; }
